RewriteEngine on
RewriteRule ^$ https://iambismark.net/ [R=301,L]
RewriteRule ^rss$ https://iambismark.net/index.xml [R=301,L]
RewriteRule ^page/ https://iambismark.net/archive/ [R=301,L]

RewriteRule ^post/279615646$ https://iambismark.net/post/1260582000/ [R=301,L]
RewriteRule ^post/279615646/testing-out-the-new-blog$ https://iambismark.net/post/1260582000/ [R=301,L]
RewriteRule ^post/287827940$ https://iambismark.net/post/1261079640/ [R=301,L]
RewriteRule ^post/287827940/markdown-macros-in-marsedit$ https://iambismark.net/post/1261079640/ [R=301,L]
RewriteRule ^post/288981103$ https://iambismark.net/post/1261148400/ [R=301,L]
RewriteRule ^post/288981103/blog-archive$ https://iambismark.net/post/1261148400/ [R=301,L]
RewriteRule ^post/289030550$ https://iambismark.net/post/1261151700/ [R=301,L]
RewriteRule ^post/289030550/stallmanism$ https://iambismark.net/post/1261151700/ [R=301,L]
RewriteRule ^post/289057189$ https://iambismark.net/post/1261153500/ [R=301,L]
RewriteRule ^post/289057189/boys-be-ambitious-be-ambitious-not-for-money-or$ https://iambismark.net/post/1261153500/ [R=301,L]
RewriteRule ^post/289079362$ https://iambismark.net/post/1261154940/ [R=301,L]
RewriteRule ^post/289079362/gotta-love-japanese-people-my-attempted$ https://iambismark.net/post/1261154940/ [R=301,L]
RewriteRule ^post/289199126$ https://iambismark.net/post/1261162800/ [R=301,L]
RewriteRule ^post/289199126/per-tiannas-request$ https://iambismark.net/post/1261162800/ [R=301,L]
RewriteRule ^post/289416389$ https://iambismark.net/post/1261175760/ [R=301,L]
RewriteRule ^post/289416389/my-operating-systems-professor-just-sent-out-an$ https://iambismark.net/post/1261175760/ [R=301,L]
RewriteRule ^post/289846508$ https://iambismark.net/post/1261198440/ [R=301,L]
RewriteRule ^post/289846508/i-forgot-to-brush-my-teeth-today$ https://iambismark.net/post/1261198440/ [R=301,L]
RewriteRule ^post/290013965$ https://iambismark.net/post/1261207620/ [R=301,L]
RewriteRule ^post/290013965/status-update-on-my-teeth$ https://iambismark.net/post/1261207620/ [R=301,L]
RewriteRule ^post/295246519$ https://iambismark.net/post/1261500240/ [R=301,L]
RewriteRule ^post/295246519/weather-in-madison-this-is-what-i-will-be-missing$ https://iambismark.net/post/1261500240/ [R=301,L]
RewriteRule ^post/295246175$ https://iambismark.net/post/1261500300/ [R=301,L]
RewriteRule ^post/295246175/weather-in-acapulco-this-is-what-i-will-be$ https://iambismark.net/post/1261500300/ [R=301,L]
RewriteRule ^post/300578401$ https://iambismark.net/post/1261792380/ [R=301,L]
RewriteRule ^post/300578401/i-think-i-have-found-a-new-calling-in-life$ https://iambismark.net/post/1261792380/ [R=301,L]
RewriteRule ^post/300584964$ https://iambismark.net/post/1261792740/ [R=301,L]
RewriteRule ^post/300584964/not-exactly-the-kind-of-scenery-i-expected-to-see$ https://iambismark.net/post/1261792740/ [R=301,L]
RewriteRule ^post/302181039$ https://iambismark.net/post/1261888140/ [R=301,L]
RewriteRule ^post/302181039/thanks-to-a-suggestion-from-my-sister-this-has$ https://iambismark.net/post/1261888140/ [R=301,L]
RewriteRule ^post/306967697$ https://iambismark.net/post/1262131680/ [R=301,L]
RewriteRule ^post/306967697/apparently-mummies-arent-mariams-thing-just-one$ https://iambismark.net/post/1262131680/ [R=301,L]
RewriteRule ^post/306975251$ https://iambismark.net/post/1262132040/ [R=301,L]
RewriteRule ^post/306975251/things-i-will-miss-about-mexico-unlimited$ https://iambismark.net/post/1262132040/ [R=301,L]
RewriteRule ^post/309259283$ https://iambismark.net/post/1262240820/ [R=301,L]
RewriteRule ^post/309259283/here-is-mariam-enjoying-a-piña-colada-on-the-beach$ https://iambismark.net/post/1262240820/ [R=301,L]
RewriteRule ^post/309305307$ https://iambismark.net/post/1262242620/ [R=301,L]
RewriteRule ^post/309305307/my-avatar-review$ https://iambismark.net/post/1262242620/ [R=301,L]
RewriteRule ^post/309815055$ https://iambismark.net/post/1262273700/ [R=301,L]
RewriteRule ^post/309815055/gratitude-4$ https://iambismark.net/post/1262273700/ [R=301,L]
RewriteRule ^post/317589273$ https://iambismark.net/post/1262669880/ [R=301,L]
RewriteRule ^post/317589273/my-flight-out-of-monterrey-was-delayed-so-all-of$ https://iambismark.net/post/1262669880/ [R=301,L]
RewriteRule ^post/318004763$ https://iambismark.net/post/1262693340/ [R=301,L]
RewriteRule ^post/318004763/mariam-and-i-enjoying-tamales-on-new-years-eve$ https://iambismark.net/post/1262693340/ [R=301,L]
RewriteRule ^post/319174295$ https://iambismark.net/post/1262751360/ [R=301,L]
RewriteRule ^post/319174295/honestly-i-am-not-sure-if-i-should-be-impressed$ https://iambismark.net/post/1262751360/ [R=301,L]
RewriteRule ^post/329316188$ https://iambismark.net/post/1263247860/ [R=301,L]
RewriteRule ^post/329316188/i-dont-really-understand-how-the-whole$ https://iambismark.net/post/1263247860/ [R=301,L]
RewriteRule ^post/329373923$ https://iambismark.net/post/1263250140/ [R=301,L]
RewriteRule ^post/329373923/i-have-this-weird-habit-of-highlighting-the$ https://iambismark.net/post/1263250140/ [R=301,L]
RewriteRule ^post/329432413$ https://iambismark.net/post/1263252360/ [R=301,L]
RewriteRule ^post/329432413/so-tianna-was-kind-enough-to-do-the-research-i$ https://iambismark.net/post/1263252360/ [R=301,L]
RewriteRule ^post/331298542$ https://iambismark.net/post/1263340020/ [R=301,L]
RewriteRule ^post/331298542/writing-the-following-preference-makes-xcode-place$ https://iambismark.net/post/1263340020/ [R=301,L]
RewriteRule ^post/342058973$ https://iambismark.net/post/1263873734/ [R=301,L]
RewriteRule ^post/342058973/singles-wards$ https://iambismark.net/post/1263873734/ [R=301,L]
RewriteRule ^post/342061464$ https://iambismark.net/post/1263873837/ [R=301,L]
RewriteRule ^post/342061464/comments-are-back$ https://iambismark.net/post/1263873837/ [R=301,L]
RewriteRule ^post/343167805$ https://iambismark.net/post/1263936938/ [R=301,L]
RewriteRule ^post/343167805/resolved-never-again-will-i-buy-a-tshirt-from-the$ https://iambismark.net/post/1263936938/ [R=301,L]
RewriteRule ^post/343630262$ https://iambismark.net/post/1263956020/ [R=301,L]
RewriteRule ^post/343630262/what-your-blogging-platform-says-about-you$ https://iambismark.net/post/1263956020/ [R=301,L]
RewriteRule ^post/345985970$ https://iambismark.net/post/1264083199/ [R=301,L]
RewriteRule ^post/345985970/oh-daily-unifarce-editors-you-stay-silent$ https://iambismark.net/post/1264083199/ [R=301,L]
RewriteRule ^post/345999895$ https://iambismark.net/post/1264084030/ [R=301,L]
RewriteRule ^post/345999895/the-mitt-romney-report$ https://iambismark.net/post/1264084030/ [R=301,L]
RewriteRule ^post/346832390$ https://iambismark.net/post/1264129397/ [R=301,L]
RewriteRule ^post/346832390/times-and-seasons-2009-mormon-of-the-year-harry$ https://iambismark.net/post/1264129397/ [R=301,L]
RewriteRule ^post/347642975$ https://iambismark.net/post/1264182740/ [R=301,L]
RewriteRule ^post/347642975/red-sweater-blog-thank-you-for-playing$ https://iambismark.net/post/1264182740/ [R=301,L]
RewriteRule ^post/348379565$ https://iambismark.net/post/1264219200/ [R=301,L]
RewriteRule ^post/348379565/if-all-has-gone-according-to-plan-mariam-should$ https://iambismark.net/post/1264219200/ [R=301,L]
RewriteRule ^post/348742458$ https://iambismark.net/post/1264235661/ [R=301,L]
RewriteRule ^post/348742458/ok-its-taken-care-of-we-are-officially-engaged$ https://iambismark.net/post/1264235661/ [R=301,L]
RewriteRule ^post/349694592$ https://iambismark.net/post/1264289100/ [R=301,L]
RewriteRule ^post/349694592/i-love-you-more-than-my-iphone-by-paperwheel$ https://iambismark.net/post/1264289100/ [R=301,L]
RewriteRule ^post/356819253$ https://iambismark.net/post/1264634815/ [R=301,L]
RewriteRule ^post/356819253/things-that-make-me-say-meh-about-the-ipad$ https://iambismark.net/post/1264634815/ [R=301,L]
RewriteRule ^post/357373526$ https://iambismark.net/post/1264655089/ [R=301,L]
RewriteRule ^post/357373526/frantic-steve-jobs-stays-up-all-night-designing$ https://iambismark.net/post/1264655089/ [R=301,L]
RewriteRule ^post/358583063$ https://iambismark.net/post/1264721160/ [R=301,L]
RewriteRule ^post/358583063/the-proposal-its-been-a-few-days-now-so-i$ https://iambismark.net/post/1264721160/ [R=301,L]
RewriteRule ^post/363285053$ https://iambismark.net/post/1264951009/ [R=301,L]
RewriteRule ^post/363285053/the-trial-of-all-crimes-except-in-cases-of$ https://iambismark.net/post/1264951009/ [R=301,L]
RewriteRule ^post/363842040$ https://iambismark.net/post/1264975500/ [R=301,L]
RewriteRule ^post/363842040/shrinking-my-jeans-lets-see-how-this-goes$ https://iambismark.net/post/1264975500/ [R=301,L]
RewriteRule ^post/363897910$ https://iambismark.net/post/1264977540/ [R=301,L]
RewriteRule ^post/363897910/i-really-hope-my-tub-isnt-permanently-stained$ https://iambismark.net/post/1264977540/ [R=301,L]
RewriteRule ^post/371899426$ https://iambismark.net/post/1265350080/ [R=301,L]
RewriteRule ^post/371899426/iphone-on-verizon$ https://iambismark.net/post/1265350080/ [R=301,L]
RewriteRule ^post/378133331$ https://iambismark.net/post/1265639067/ [R=301,L]
RewriteRule ^post/378133331/inspired-by-my-new-favorite-food-blog$ https://iambismark.net/post/1265639067/ [R=301,L]
RewriteRule ^post/383890751$ https://iambismark.net/post/1265904312/ [R=301,L]
RewriteRule ^post/383890751/cheating-husbands$ https://iambismark.net/post/1265904312/ [R=301,L]
RewriteRule ^post/385672441$ https://iambismark.net/post/1265992320/ [R=301,L]
RewriteRule ^post/385672441/oh-andrew-mcmahon-you-always-knew-how-to-say-what$ https://iambismark.net/post/1265992320/ [R=301,L]
RewriteRule ^post/389971539$ https://iambismark.net/post/1266201540/ [R=301,L]
RewriteRule ^post/389971539/this-is-a-mockup-i-made-for-a-new-possible-theme$ https://iambismark.net/post/1266201540/ [R=301,L]
RewriteRule ^post/403905896$ https://iambismark.net/post/1266804416/ [R=301,L]
RewriteRule ^post/403905896/ok-since-no-one-liked-my-old-school-theme-idea-i$ https://iambismark.net/post/1266804416/ [R=301,L]
RewriteRule ^post/409903592$ https://iambismark.net/post/1267054994/ [R=301,L]
RewriteRule ^post/409903592/when-i-have-to-stop-working-on-a-programming$ https://iambismark.net/post/1267054994/ [R=301,L]
RewriteRule ^post/412224878$ https://iambismark.net/post/1267148137/ [R=301,L]
RewriteRule ^post/412224878/to-organize-all-of-the-new-reply-ask-and-submit$ https://iambismark.net/post/1267148137/ [R=301,L]
RewriteRule ^post/413334026$ https://iambismark.net/post/1267195363/ [R=301,L]
RewriteRule ^post/413334026/false-doctrine-in-hymns$ https://iambismark.net/post/1267195363/ [R=301,L]
RewriteRule ^post/413413688$ https://iambismark.net/post/1267198864/ [R=301,L]
RewriteRule ^post/413413688/aava-mobiles-intel-moorestown-prototype-hands-on$ https://iambismark.net/post/1267198864/ [R=301,L]
RewriteRule ^post/415064987$ https://iambismark.net/post/1267260480/ [R=301,L]
RewriteRule ^post/415064987/my-review-of-the-hurt-locker$ https://iambismark.net/post/1267260480/ [R=301,L]
RewriteRule ^post/415687241$ https://iambismark.net/post/1267292621/ [R=301,L]
RewriteRule ^post/415687241/all-missionaries-in-the-chile-santiago-east$ https://iambismark.net/post/1267292621/ [R=301,L]
RewriteRule ^post/417655115$ https://iambismark.net/post/1267369500/ [R=301,L]
RewriteRule ^post/417655115/rooting-for-android$ https://iambismark.net/post/1267369500/ [R=301,L]
RewriteRule ^post/426615239$ https://iambismark.net/post/1267728840/ [R=301,L]
RewriteRule ^post/426615239/meridian-magazine-in-chile-the-lords-earthquake$ https://iambismark.net/post/1267728840/ [R=301,L]
RewriteRule ^post/434101406$ https://iambismark.net/post/1268027700/ [R=301,L]
RewriteRule ^post/434101406/i-am-turning-this-on-for-kicks-come-ask-me-a$ https://iambismark.net/post/1268027700/ [R=301,L]
RewriteRule ^post/436968244$ https://iambismark.net/post/1268148559/ [R=301,L]
RewriteRule ^post/436968244/new-goal-relearn-japanese$ https://iambismark.net/post/1268148559/ [R=301,L]
RewriteRule ^post/439481543$ https://iambismark.net/post/1268251022/ [R=301,L]
RewriteRule ^post/439481543/start-enforcing-a-higher-standard-with$ https://iambismark.net/post/1268251022/ [R=301,L]
RewriteRule ^post/439699447$ https://iambismark.net/post/1268258748/ [R=301,L]
RewriteRule ^post/439699447/multiple-posts-from-me$ https://iambismark.net/post/1268258748/ [R=301,L]
RewriteRule ^post/441733602$ https://iambismark.net/post/1268339220/ [R=301,L]
RewriteRule ^post/441733602/oh-hey-its-my-mom-in-todays-daily-universe$ https://iambismark.net/post/1268339220/ [R=301,L]
RewriteRule ^post/443482012$ https://iambismark.net/post/1268408880/ [R=301,L]
RewriteRule ^post/443482012/rip-501s$ https://iambismark.net/post/1268408880/ [R=301,L]
RewriteRule ^post/444304939$ https://iambismark.net/post/1268442683/ [R=301,L]
RewriteRule ^post/444304939/time-for-a-little-cat-stevens-on-this-wonderful$ https://iambismark.net/post/1268442683/ [R=301,L]
RewriteRule ^post/446859122$ https://iambismark.net/post/1268540802/ [R=301,L]
RewriteRule ^post/446859122/i-went-to-the-madison-curling-clubs-open-house$ https://iambismark.net/post/1268540802/ [R=301,L]
RewriteRule ^post/456997496$ https://iambismark.net/post/1268935080/ [R=301,L]
RewriteRule ^post/456997496/what-happened-with-your-wedding-you-dont-post$ https://iambismark.net/post/1268935080/ [R=301,L]
RewriteRule ^post/464109774$ https://iambismark.net/post/1269208680/ [R=301,L]
RewriteRule ^post/464109774/dear-lds-readers-the-word-is-not-proselyting$ https://iambismark.net/post/1269208680/ [R=301,L]
RewriteRule ^post/468952833$ https://iambismark.net/post/1269388575/ [R=301,L]
RewriteRule ^post/468952833/what-is-your-favorite-book-movie-tv-show-video$ https://iambismark.net/post/1269388575/ [R=301,L]
RewriteRule ^post/468968259$ https://iambismark.net/post/1269389020/ [R=301,L]
RewriteRule ^post/468968259/its-1022-am-i-havent-gone-to-sleep-i-just$ https://iambismark.net/post/1269389020/ [R=301,L]
RewriteRule ^post/472482920$ https://iambismark.net/post/1269523260/ [R=301,L]
RewriteRule ^post/472482920/is-your-pseudonym-a-misspelling-of-bismarck$ https://iambismark.net/post/1269523260/ [R=301,L]
RewriteRule ^post/472504622$ https://iambismark.net/post/1269524195/ [R=301,L]
RewriteRule ^post/472504622/how-does-it-feel-to-be-a-small-time-celebrity$ https://iambismark.net/post/1269524195/ [R=301,L]
RewriteRule ^post/479397133$ https://iambismark.net/post/1269790987/ [R=301,L]
RewriteRule ^post/479397133/i-helped-mariam-put-up-these-flyers-this-morning$ https://iambismark.net/post/1269790987/ [R=301,L]
RewriteRule ^post/479403747$ https://iambismark.net/post/1269791222/ [R=301,L]
RewriteRule ^post/479403747/this-is-the-mexican-flan-cake-we-will-be-having-at$ https://iambismark.net/post/1269791222/ [R=301,L]
RewriteRule ^post/479845240$ https://iambismark.net/post/1269805620/ [R=301,L]
RewriteRule ^post/479845240/they-are-synonyms-either-one-can-work-it-is-my$ https://iambismark.net/post/1269805620/ [R=301,L]
RewriteRule ^post/489646178$ https://iambismark.net/post/1270152916/ [R=301,L]
RewriteRule ^post/489646178/summer-internship$ https://iambismark.net/post/1270152916/ [R=301,L]
RewriteRule ^post/503553929$ https://iambismark.net/post/1270659840/ [R=301,L]
RewriteRule ^post/503553929/kristy-and-her-sister-jenny-took-our-engagement$ https://iambismark.net/post/1270659840/ [R=301,L]
RewriteRule ^post/503667374$ https://iambismark.net/post/1270663920/ [R=301,L]
RewriteRule ^post/503667374/enter-to-learn-and-then-shut-up$ https://iambismark.net/post/1270663920/ [R=301,L]
RewriteRule ^post/503700083$ https://iambismark.net/post/1270665180/ [R=301,L]
RewriteRule ^post/503700083/an-unexpected-path$ https://iambismark.net/post/1270665180/ [R=301,L]
RewriteRule ^post/504901613$ https://iambismark.net/post/1270701420/ [R=301,L]
RewriteRule ^post/504901613/wwwmariamandryannet$ https://iambismark.net/post/1270701420/ [R=301,L]
RewriteRule ^post/506338246$ https://iambismark.net/post/1270756310/ [R=301,L]
RewriteRule ^post/506338246/do-you-see-what-i-see-your-chance-to-help$ https://iambismark.net/post/1270756310/ [R=301,L]
RewriteRule ^post/512089052$ https://iambismark.net/post/1270955811/ [R=301,L]
RewriteRule ^post/512089052/what-a-scholar-two-weeks$ https://iambismark.net/post/1270955811/ [R=301,L]
RewriteRule ^post/545825769$ https://iambismark.net/post/1272126643/ [R=301,L]
RewriteRule ^post/545825769/what-a-hottie$ https://iambismark.net/post/1272126643/ [R=301,L]
RewriteRule ^post/546034222$ https://iambismark.net/post/1272132015/ [R=301,L]
RewriteRule ^post/546034222/married-for-time-and-eternity-to-mariam-rebeca$ https://iambismark.net/post/1272132015/ [R=301,L]
RewriteRule ^post/553947679$ https://iambismark.net/post/1272394692/ [R=301,L]
RewriteRule ^post/553947679/this-mormon-life$ https://iambismark.net/post/1272394692/ [R=301,L]
RewriteRule ^post/561811441$ https://iambismark.net/post/1272668040/ [R=301,L]
RewriteRule ^post/561811441/i-am-making-progress-on-my-iphone-remake-of-the$ https://iambismark.net/post/1272668040/ [R=301,L]
RewriteRule ^post/593485347$ https://iambismark.net/post/1273703538/ [R=301,L]
RewriteRule ^post/593485347/first-video-of-our-working-iphone-game-sorry$ https://iambismark.net/post/1273703538/ [R=301,L]
RewriteRule ^post/671894710$ https://iambismark.net/post/1275883724/ [R=301,L]
RewriteRule ^post/671894710/the-wedding$ https://iambismark.net/post/1275883724/ [R=301,L]
RewriteRule ^post/671928690$ https://iambismark.net/post/1275884503/ [R=301,L]
RewriteRule ^post/671928690/post-wedding-school-craziness$ https://iambismark.net/post/1275884503/ [R=301,L]
RewriteRule ^post/671960492$ https://iambismark.net/post/1275885248/ [R=301,L]
RewriteRule ^post/671960492/car-crash$ https://iambismark.net/post/1275885248/ [R=301,L]
RewriteRule ^post/671983489$ https://iambismark.net/post/1275885767/ [R=301,L]
RewriteRule ^post/671983489/california$ https://iambismark.net/post/1275885767/ [R=301,L]
RewriteRule ^post/672028039$ https://iambismark.net/post/1275886786/ [R=301,L]
RewriteRule ^post/672028039/hobbies$ https://iambismark.net/post/1275886786/ [R=301,L]
RewriteRule ^post/678905641$ https://iambismark.net/post/1276056406/ [R=301,L]
RewriteRule ^post/678905641/a-few-wedding-pics$ https://iambismark.net/post/1276056406/ [R=301,L]
RewriteRule ^post/679217715$ https://iambismark.net/post/1276063569/ [R=301,L]
RewriteRule ^post/679217715/like-i-said-in-my-previous-post-ive-started$ https://iambismark.net/post/1276063569/ [R=301,L]
RewriteRule ^post/728044106$ https://iambismark.net/post/1277271389/ [R=301,L]
RewriteRule ^post/728044106/tomato-butter-sauce$ https://iambismark.net/post/1277271389/ [R=301,L]
RewriteRule ^post/740283432$ https://iambismark.net/post/1277605610/ [R=301,L]
RewriteRule ^post/740283432/follow-up-on-do-you-see-what-i-see$ https://iambismark.net/post/1277605610/ [R=301,L]
RewriteRule ^post/740301687$ https://iambismark.net/post/1277605991/ [R=301,L]
RewriteRule ^post/740301687/more-good-news-on-the-giving-front$ https://iambismark.net/post/1277605991/ [R=301,L]
RewriteRule ^post/761769904$ https://iambismark.net/post/1278082510/ [R=301,L]
RewriteRule ^post/761769904/social-networks$ https://iambismark.net/post/1278082510/ [R=301,L]
RewriteRule ^post/761879234$ https://iambismark.net/post/1278084909/ [R=301,L]
RewriteRule ^post/761879234/pancakes$ https://iambismark.net/post/1278084909/ [R=301,L]
RewriteRule ^post/783958051$ https://iambismark.net/post/1278565440/ [R=301,L]
RewriteRule ^post/783958051/here-is-my-most-recent-attempt-at-pixel-art$ https://iambismark.net/post/1278565440/ [R=301,L]
RewriteRule ^post/860077963$ https://iambismark.net/post/1280123441/ [R=301,L]
RewriteRule ^post/860077963/disneyland$ https://iambismark.net/post/1280123441/ [R=301,L]
RewriteRule ^post/860205911$ https://iambismark.net/post/1280125776/ [R=301,L]
RewriteRule ^post/860205911/thoughts-on-disneyland$ https://iambismark.net/post/1280125776/ [R=301,L]
RewriteRule ^post/864839628$ https://iambismark.net/post/1280211201/ [R=301,L]
RewriteRule ^post/864839628/slavonian-burger$ https://iambismark.net/post/1280211201/ [R=301,L]
RewriteRule ^post/864936379$ https://iambismark.net/post/1280213015/ [R=301,L]
RewriteRule ^post/864936379/re-reverence$ https://iambismark.net/post/1280213015/ [R=301,L]
RewriteRule ^post/967146907$ https://iambismark.net/post/1282055140/ [R=301,L]
RewriteRule ^post/967146907/how-you-know-you-are-way-too-tired$ https://iambismark.net/post/1282055140/ [R=301,L]
RewriteRule ^post/1160447146$ https://iambismark.net/post/1285054459/ [R=301,L]
RewriteRule ^post/1160447146/posters$ https://iambismark.net/post/1285054459/ [R=301,L]
RewriteRule ^post/1197090536$ https://iambismark.net/post/1285568009/ [R=301,L]
RewriteRule ^post/1197090536/dropping-out-of-school$ https://iambismark.net/post/1285568009/ [R=301,L]
RewriteRule ^post/1197140684$ https://iambismark.net/post/1285568907/ [R=301,L]
RewriteRule ^post/1197140684/catching-up-photos$ https://iambismark.net/post/1285568907/ [R=301,L]
RewriteRule ^post/1197181969$ https://iambismark.net/post/1285569651/ [R=301,L]
RewriteRule ^post/1197181969/moving$ https://iambismark.net/post/1285569651/ [R=301,L]
RewriteRule ^post/1421270416$ https://iambismark.net/post/1288242852/ [R=301,L]
RewriteRule ^post/1421270416/mendocino$ https://iambismark.net/post/1288242852/ [R=301,L]
RewriteRule ^post/5443557332$ https://iambismark.net/post/1305264876/ [R=301,L]
RewriteRule ^post/5443557332/blogging-again$ https://iambismark.net/post/1305264876/ [R=301,L]
RewriteRule ^post/5444205501$ https://iambismark.net/post/1305267476/ [R=301,L]
RewriteRule ^post/5444205501/thoughts-on-battlestar-galactica-spoiler-alert$ https://iambismark.net/post/1305267476/ [R=301,L]
RewriteRule ^post/5461403364$ https://iambismark.net/post/1305326169/ [R=301,L]
RewriteRule ^post/5461403364/friday-pig-out-day-kaimal-mark-ii-lens-inas$ https://iambismark.net/post/1305326169/ [R=301,L]
RewriteRule ^post/6859263295$ https://iambismark.net/post/1308902820/ [R=301,L]
RewriteRule ^post/6859263295/just-spent-way-too-long-making-this-creating$ https://iambismark.net/post/1308902820/ [R=301,L]
RewriteRule ^post/6961016401$ https://iambismark.net/post/1309143480/ [R=301,L]
RewriteRule ^post/6961016401/decided-to-stick-w-original-game-boy-colors-for$ https://iambismark.net/post/1309143480/ [R=301,L]
RewriteRule ^post/7240788025$ https://iambismark.net/post/1309815736/ [R=301,L]
RewriteRule ^post/7240788025/my-first-attempt-at-rotating-blocks-off-of-the-x-y$ https://iambismark.net/post/1309815736/ [R=301,L]
RewriteRule ^post/29032879757$ https://iambismark.net/post/1344486798/ [R=301,L]
RewriteRule ^post/29032879757/reading$ https://iambismark.net/post/1344486798/ [R=301,L]
RewriteRule ^post/40794394394$ https://iambismark.net/post/1358464385/ [R=301,L]
RewriteRule ^post/40794394394/tardis-robe-on-flickr$ https://iambismark.net/post/1358464385/ [R=301,L]
RewriteRule ^post/127020232479$ https://iambismark.net/post/1439931152/ [R=301,L]
RewriteRule ^post/127020232479/apns-authentication$ https://iambismark.net/post/1439931152/ [R=301,L]
RewriteRule ^post/127022054109$ https://iambismark.net/post/1439932680/ [R=301,L]
RewriteRule ^post/127022054109/ryan-explains-his-tweets-627246934466654208$ https://iambismark.net/post/1439932680/ [R=301,L]
RewriteRule ^post/135474025664$ https://iambismark.net/post/1450485966/ [R=301,L]
RewriteRule ^post/135474025664/thoughts-on-the-force-awakens$ https://iambismark.net/post/1450485966/ [R=301,L]
RewriteRule ^.*$ https://iambismark.net/$0 [R=301,L]
