<article>
   {{ if .Title }}
   <a href={{ .Permalink }}>
       <h2 id="title">{{ .Title | markdownify }}</h2>
   </a>
   {{ end }}

   {{ if .Params.imagelink }}<a href="{{ .Params.imagelink }}">{{ end }}
       <img src="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .RelPermalink }}/1.jpg{{ end }}"{{ if .Params.imagealt }} alt="{{ .Params.imagealt | markdownify }}"{{ end}}>
   {{ if .Params.imagelink }}</a>{{ end }}

   {{ .Content }}

   <a href={{ .Permalink }}>{{ .Date.Format "2006/01/02" }}</a>
</article>

